/* Màu sắc cho các loại thời tiết */
.thap {
    background: linear-gradient(to right, #69b7eb 40%, #057fd1 100%);
    background-size: 100% 100%;
    color: #fff;
}

.trungbinh {
    background: linear-gradient(to right, #69b7eb 10%, #057fd1 100%);
    background-size: 100% 100%;
    color: #fff;
}

.cao {
    /* background: linear-gradient(to right, #69b7eb 10%, #046cb1 100%); */
    background: linear-gradient(to right, #69b7eb 10%, #b10404 100%);
    background-size: 100% 100%;
    color: #fff;

    animation: blink 1s infinite;
}

.weatherIcon {
    margin: 0 0;
    /* width: 320px;
    height: 150px; */
    padding-left: 30px;
    font-size: 100px;
    font-weight: 300;
    border-radius: 10px;
}
.thongtindoam{
    font-size: 40px;
    padding-left: 15%;
    padding-top: 100px;
}
.doam{
    display: flex;
    /*width: 25%;*/
    width: 33%;
    margin: 0 10px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Đổ bóng */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}