
.buiit {
    background-image: linear-gradient(109.6deg,
    rgba(82, 87, 64, 0.89) 10%,
    rgba(194, 194, 53, 0.31) 90% );
    color: #ffffff;
}

.hoibui {
    background-image: linear-gradient(109.6deg,
    rgba(104, 112, 79, 0.89) 10%,
    rgba(187, 187, 2, 0.68) 90%
    );
    color: #ffffffb5;
    /* Màu chữ đen */
}

.bui {
    /* background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%); */
    background-image: linear-gradient(109.6deg,
    rgba(117, 122, 83, 0.3) 10%,
    rgba(204, 204, 1, 0.58) 60%
    );
    color: #ffffff;
    /* Màu chữ trắng */
}

.ratbui {
    background-image: linear-gradient(109.6deg,
    rgba(255, 0, 0, 0.4) 10%,
    #d2d2c760 90%
    );
    color: #ffffff;
    /* Màu chữ trắng */
    animation: blink 1s infinite;
}

.weatherIcon {
    margin: 0 0px;
    /* width: 320px;
    height: 150px; */
    padding-left: 30px;
    font-size: 100px;
    font-weight: 300;
    border-radius: 10px;
}
.thongtinbui{
    font-size: 40px;
    padding-left: 20%;
    padding-top: 100px;
}

.dustText {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bui1{
    display: flex;
    margin: 0 10px;
    width: 25%;
    /*width: 33%;*/
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}